.Button_Primary {
    background-color: #2fc68a;
    color: #2a343d;
    width: 200px;
    height: 60px;
    border: 2px solid #2a343d;
    border-radius: 55px;
    font-size: 20px;
    transition: font-size 0.3s ease-out, background-color 1s ease-out;
    cursor: pointer;
}

.Button_Primary:hover {
    background-color: #6af29c;
    border-color: #2fc68a;
    font-size: 25px;
}