.Button_Warning {
    background-color: #d13232;
    color: #2a343d;
    width: 200px;
    height: 60px;
    border: 2px solid #2a343d;
    border-radius: 55px;
    font-size: 20px;
    transition: font-size 0.3s ease-out, background-color 1s ease-out;
    cursor: pointer;
}

.Button_Warning:hover {
    background-color: #d54444;
    border-color: #d13232;
    font-size: 25px;
}