.Profile_Card {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: #3d464e;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 8px;
    border: 1px solid #3d464e;
}

.Profile_Card:hover {
    border: 1px solid #2fc68a;
}