.Slider {
    display: flex;
    width: 80%;
    height: 300px;
    justify-content: space-between;
    border: 1px solid #2fc68a;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
    margin-top: 5em;
}

.slider-img {
    width: 100%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    object-position: 40% -370px;
}